

<!-- <nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
        
      <form class="d-flex" role="search">
        <h1>EMPOLYEE</h1>
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </nav> -->
  <body class="body">
    <div class="bodytext">
      <form>
        <h3 id="head">EMPOLYEE</h3>
        <input class="box" placeholder="search">
        <button class="button">Search</button>
      </form>
    </div>
  </body>